{%  extends 'base.html' %}
{% block title %} 
change password...
{% endblock %}


{% block content %}
<br>
<br>
<br>
<div class="container ">
<div class="form-control card-outline-info card-out mt-4 mb-4 p-5">

    <h1 class=" text-center font-weight-bold mt-2   ">Change Password</h1>
    <form method="POST">
    {% csrf_token %} 
    {{ form.as_p }}

    <button class="btn btn-secondary btn-block alert-info" >CHANGE PASSWORD</button>    
    </form>


<hr class="invis">
</div>
</div>
    <br>
{% endblock %}}